<h1 class = "font"> Here are my posts </h1>

<%= image_tag @post.pic, class: "my-pic" %>
<p><%= @post.caption %></p>

<% if current_user == @post.user %>
    <p class = "margen"><%= button_to "Delete", @post, method: :delete, class: "btn btn-danger"%></p>
    <p class = "margen"><%= button_to "Edit", "/posts/#{@post.id}/edit", method: :get, class: "btn btn-info"%></p>
<% end %>

<p class = "margen"><%= link_to @post.user.email, user_path %></p>
